{% extends "base.html" %}

{% block content %}
<main>
    <h1>Welcome {{ user }}!</h1>

    <div class="magazine-container">
        <h1>Borrowed Magazines</h1>
        <div class="catalog">
            {% if borrowed_magazines %}
            {% for borrowed_magazine in borrowed_magazines %}
            <form action="{% url 'library_app:return_magazine' %}" method="POST">
                {% csrf_token %}
                <article class="article-container magazine-article borrowed-magazine-container">
                    <h2>{{ borrowed_magazine.article.title }}</h2>
                    <h3>Borrowed on: {{ borrowed_magazine.borrowed_timestamp }}</h3>
                    <h3 class="return-date">Return Date: {{ borrowed_magazine.deadline }}</h3>

                    <input type="hidden" name="fk" value="{{ borrowed_magazine.article.pk }}">
                    <input type="hidden" name="pk" value="{{ borrowed_magazine.pk }}">
                    <input class='button' type="submit" value="Return">

                </article>
            </form>

            {% endfor %}
            {% else %}
            <h2>You have no borrowed magazines. Please, go to <a
                    href="{% url 'library_app:magazines' %}">Magazines</a> to
                borrow or reserve.</h2>
            {% endif %}
        </div>
    </div>


    <div class="books-container">
        {% if reserved_magazines %}
        <h1>Reserved Magazines</h1>
        <div class="catalog">
            {% for reserved_magazine in reserved_magazines %}
            <form action="{% url 'library_app:cancel_magazine_reservation' %}" method="POST">
                {% csrf_token %}
                <article
                        class="article-container reserved-magazine-container borrowed-magazine-container reserved-article-container">
                    <h2>{{ reserved_magazine.article.title }}</h2>
                    <h4>Available by: {{ reserved_magazine.deadline }}</h4>


                    <input type="hidden" name="pk" value="{{ reserved_magazine.pk }}">
                    <input type="hidden" name="fk" value="{{ reserved_magazine.article.pk }}">
                    <input class='button' type="submit" value="Cancel">
                </article>
            </form>
            {% endfor %}

        </div>
        {% endif %}
    </div>

    {% if returned_magazines %}
    <div class="returned-magazines">
        <h2>Read and Returned Magazines</h2>
        <table>
            <tr>
                <th>Magazine Title</th>
                <th>Borrowing Date</th>
                <th></th>
            </tr>
            {% for returned_magazine in returned_magazines %}
            <form action="{% url 'library_app:borrow_magazine' %}" method="POST">
                {% csrf_token %}

                <tr class="magazine-row">
                    <td>{{ returned_magazine.article.title }}</td>
                    <td>{{ returned_magazine.borrowed_timestamp }}</td>
                    <td><input type="submit" class='button overdue-button' value="Borrow Again"></td>
                </tr>
                <input type="hidden" name="pk" value="{{ returned_magazine.article.pk }}">
            </form>

            {% endfor %}
        </table>
    </div>
    {% endif %}

</main>
{% endblock %}