{% extends "base.html" %}

{% block content %}
<main>
    <h1>Welcome {{ user }}!</h1>

    <div class="books-container">
        <h1>Borrowed Books</h1>
        <div class="catalog">
            {% if borrowed_books %}
            {% for borrowed_book in borrowed_books %}
            <form action="{% url 'library_app:return_book' %}" method="POST">
                {% csrf_token %}
                <article class="article-container borrowed-book-container">
                    <h2>{{ borrowed_book.article.title}}</h2>
                    <h3>{{ borrowed_book.article.author }}</h3>
                    <h3>Borrowed on: {{ borrowed_book.borrowed_timestamp }}</h3>
                    <h3 class="return-date">Return Date: {{ borrowed_book.deadline }}</h3>

                    <input type="hidden" name="fk" value="{{ borrowed_book.article.pk }}">
                    <input type="hidden" name="pk" value="{{ borrowed_book.pk }}">
                    <input class='button' type="submit" value="Return">

                </article>
            </form>

            {% endfor %}
            {% else %}
            <h2>You have no borrowed books. Please, go to <a href="{% url 'library_app:catalog' %}">Books</a> to
                borrow or reserve.</h2>
            {% endif %}

        </div>
    </div>

    <div class="books-container">
        {% if reserved_books %}
        <h1>Reserved Books</h1>
        <div class="catalog">
            {% for reserved_book in reserved_books %}
            <form action="{% url 'library_app:cancel_book_reservation' %}" method="POST">
                {% csrf_token %}
                <article class="article-container borrowed-book-container reserved-article-container">
                    <h2>{{ reserved_book.article.title}}</h2>
                    <h3>{{ reserved_book.article.author }}</h3>
                    <h4>Available by: {{ reserved_book.deadline }}</h4>

                    <input type="hidden" name="pk" value="{{ reserved_book.pk }}">
                    <input type="hidden" name="fk" value="{{ reserved_book.article.pk }}">
                    <input class='button' type="submit" value="Cancel">
                </article>
            </form>
            {% endfor %}

        </div>
        {% endif %}
    </div>

    {% if returned_books %}
    <div class="returned-books">
        <h2>Read and Returned Books</h2>
        <table>
            <tr>
                <th>Book Title</th>
                <th>Author</th>
                <th>Borrowing Date</th>
                <th></th>
            </tr>

            {% for returned_book in returned_books %}
            <form action="{% url 'library_app:borrow_book' %}" method="POST">
                {% csrf_token %}

                <tr class="book-row">
                    <td>{{ returned_book.article.title }}</td>
                    <td>{{ returned_book.article.author }}</td>
                    <td>{{ returned_book.borrowed_timestamp }}</td>
                    <td><input type="submit" class='button overdue-button' value="Borrow Again"></td>
                </tr>

                <input type="hidden" name="pk" value="{{ returned_book.article.pk }}">
            </form>

            {% endfor %}
        </table>
    </div>
    {% endif %}


</main>
{% endblock %}